@import "tailwindcss";
.custom-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
}
body{
     font-family: "Inter", sans-serif;
background: rgba(245, 248, 255, 1.00);
    display: block;

}
img{
    max-width: 100%;
}
/* banner */
.bannr-main{
    padding-top: 105px;
}
.banner-span{
    color: rgb(233, 90, 8);
}
.img-contain{
    border: 1px dotted gray;
}
.plans-main {
 /* max-width: 780px;
max-height: 54px; */
margin-bottom: 20px;
}
.plants{
    margin-top: 60px;
    
}

.plants span{
 color: rgb(233, 90, 8);
}
.plan-description{
    font-size: 1.2rem;
  text-align: center;
    max-width:770px ;
    margin: 0 auto;



}
/* plant love section */
.plant-lover-right li{
    font-size: 1.4rem;
font-weight: 400;
text-align: justify;

}

/* responsive */
@media only screen and (max-width: 640px) {
.nav-link {
    display:none;
}   
.nave-menu img{
    width: 63px;
    height: 38px;
}
.cart-product{
    display: block;
}
.custom-container{
margin: 0 15px;
    padding: 20px;
}
.banner-section{
    flex-direction: column-reverse;
column-gap: 70px;
}
.banner-title {
    font-size: 24px;
font-weight: 700;
text-align: start;
margin-top: 30px;
line-height: 30px;


}

.banner-description{
    font-size: 14px;
    font-weight: 400;
    text-align: start;

}
.plants{
    margin-top: 20px;
    margin-bottom: 10px;
}
.plan-description{    
    font-size: 14px;
font-family: 400;
text-align: center;



}
.plants .plant-title{
    font-size: 24px;
font-weight: 700;
text-align: center;
margin-bottom: 5px;
line-height: 30px;
}
.all-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
}
 /* <!-- plant lover section --> */
 .trusted{
    display: none;
 }
 .plant-lover{
flex-direction: column-reverse;
margin-top: 40px;
text-align: center;
 }
  .plant-lover br{
display: none;
  }
    .plant-lover ul{
padding-left: 0;
margin-left: 0;
  }
    .plant-lover ul li{
text-align: justify;
  }

}